.header{
  height: 94rpx;
  display: flex;
  align-items: center;
  padding: 0 30rpx;
  border-bottom: 1px solid #eee;

  .title{
    font-size: 40rpx;
    color: #00b600;
  }
  icon{
    flex: 1;
    margin-left: 29rpx;
    margin-top: 10rpx;
  }
  .btn{
    width: 200rpx;
    height: 68rpx;
    border-radius: 5rpx;
    background-color: #42bd56;
    font-size: 22rpx;
    color: white;
    line-height: 68rpx;
    text-align: center;
  }
}
.move_item{
  .move_title{
  padding: 0 30rpx;
  height: 87rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30rpx;
  .move_more{
    color: #00b600;
  }
  }
  .scroll-view_H{
    padding: 0 30rpx;
    display: flex;
    white-space: nowrap;
    .scroll-view-item_H{
      width: 200rpx;
      height: 380rpx;
      background-color: #ccc;
      display: inline-block;
      >img{
        width: 200rpx;
        height: 290rpx;
      }
    }
  }
}